<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <appSettings>
      <add key="sleutel" value="7cd882a3ea03ded5c377d7e2b4797d149636917f8b52238113b16966b7c5"/>
      <add key="gebruikersnaam" value="mart"/>
      <add key="wachtwoord" value="welkom"/>
    </appSettings>    
</configuration>
